<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>

<h2>Company Main Menu</h2>
              <ul>
                <li><a href="/company/register">Register a New User</a></li>
                <li><a href="/company/modify">Modify an Existing User</a></li>
                <li><a href="/company/deactivate">Deactivate a User</a></li>
                <li><a href="/company/meter">Upload Meter Usage</a></li>
              </ul>